@font-face {
    font-family: 'Champ';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url("../fonts/champ-700.woff2") format("woff2");
}

@font-face {
  font-family: 'DynaPuff';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/dynaPuff-700.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color-primary: #F62440;
    --color-light: #FFFAF3;
    --color-dark: #222222;
    --font-primary: 'Champ', sans-serif;
    --font-secondary: "DynaPuff", system-ui;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}


html {
    font-size: 16px;
}

body {
    font-size: 5rem;
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
}

span {
    display: inline-block;
}

.canvas {
    overflow: hidden;
    display: grid;
    place-items: center;
    min-height: 100dvh;
    color: var(--color-light);
    background-color: var(--color-dark);

    > * {
        grid-area: 1 / 1;
    }
}

.scene-1 {
    --_border-width: 2px;
    --_border-dashed-size: calc(var(--_border-width) * 3);
    --_border-stroke-color: #8d8d8d91;
    --_border-transparent-color: #0000;
    --_border-gradient-color: var(--_border-stroke-color) 0 var(--_border-dashed-size), var(--_border-transparent-color) var(--_border-dashed-size) calc(var(--_border-dashed-size) * 2);
    position: relative;
    border-width: var(--_border-width);
    border-style: solid;
    border-image-width: var(--_border-width);
    border-image-slice: 1;
    border-image-outset: 0 100vmax;
    border-image-source: repeating-linear-gradient(90deg, var(--_border-gradient-color));
    font-size: 0.4em;
    transform: translateX(-200px);
    
    &::before {
        --_border-gradient-direction: 0deg;
        content: '';
        position: absolute;
        inset: calc(var(--_border-width) * -1) calc(0.02em - var(--_border-width));
        pointer-events: none;
        border: inherit;
        border-image-outset: 100vmax 0;
        border-image-source: repeating-linear-gradient(0deg, var(--_border-gradient-color));
    }
}

.scene-2 {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(50%, 0, 0);
}
.scene-3 {
    --_cursor-width: 0.18em;
    --_cursor-opacity: 0;
    --_cursor-left: 50%;
    --_cursor-height: 100%;
    --_cursor-animation-name: none;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: calc(50% - (var(--_cursor-height) / 2));
        left: var(--_cursor-left);
        transform: translateX(-50%);
        background-color: var(--color-primary);
        width: var(--_cursor-width);
        height: var(--_cursor-height);
        opacity: var(--_cursor-opacity);
        animation: 1s cubic-bezier(0.16, 1, 0.3, 1) infinite;
        animation-name: var(--_cursor-animation-name);
    }
}

 @keyframes blink {
    0%,100% {
        scale: 1 1;
    }

    50% {
        scale: 1 0;
    }
}

.scene-4 {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
    font-family: var(--font-secondary);

    .scene-4__spacer {
        position: relative;
        
        .scene-4__letter {
            visibility: hidden;
        }

        .scene-4__circle {
            --_inner-cut-size: 0;
            --_background-color: var(--color-primary);
            --_background-opacity: 80%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 85%;
            aspect-ratio: 1 / 1.15;
            border: 0.13em solid var(--color-primary);
            background-color: hsl(from var(--_background-color) h s l / var(--_background-opacity));
            border-radius: 100vmax;
            clip-path: border-box;

            &::after {
                content: '';
                position: absolute;
                bottom: 78%;
                right: -8%;
                background-color: var(--color-light);
                width: 0.16em;
                aspect-ratio: 1 / 1;
                box-sizing: border-box;
                border-radius: 50%;
                scale: var(--_inner-cut-size);
                transform-origin: right top;
            }
        }
    }
}

.canvas__shutter {
    --_curve-height: 35%;
    position: absolute;
    inset: 0;
    scale: 4;
    opacity: 0;
    visibility: hidden;

    &::before,
    &::after
    {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 50.5%;
        background-color: var(--color-dark);
    }

    &::before {
        top: 0;
        clip-path: shape(from 0% 0%, vline to 100%, hline to 20%, curve to 75% 100% with 50% 0%, hline to 100%, vline to 0%, close);
    }
    &::after {
        bottom: 0;
        clip-path: shape(from 0% 100%, vline to 0%, hline to 20%, curve to 75% 0% with 50% var(--_curve-height), hline to 100%, vline to 100%, close);
    }
}

.scene-5 {
    position: relative;
    color: var(--color-light);
    opacity: 0;
    visibility: hidden;
}